.userPage {
    padding: 80px 620px;
}

.mainUser {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 15px 0;
}

.about {
    padding: 15px 0;
    font-size: 20px;
}

.nameSurname {
    padding: 20px 30px;
}

.bio {
    height: 50px;
    padding: 0 30px;
}