body {
    background-color: #fff;
}

.userPage {
    padding: 80px 620px;
}

.mainUser {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.nameSurname {
    padding: 0 30px;
}

.bio {
    height: 50px;
    padding: 0 30px;
}