.all {
    padding: 50px 600px;

    h2 {
        padding: 0 15px;
    }

    .input {
        margin-top: 10px;
        width: 70%;
        height: 30px;
    }
    .continue {
        margin-top: 10px;
        width: 72%;
        height: 30px;
        background-color: rgb(8, 8, 187);
        color: #fff;
    }
}